.fa{
    cursor: pointer;
}

.fa-plus, .fa-check, .fa-check-square-o {
    color: #6da03c;
}

.fa-times {
    color: #ff4d37;
}

.fa-bug {
    color: #ff8900;
}

.selectors-schemas {
    float: left;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}